backcall==0.2.0
bitarray==1.2.1
blis==0.4.1
catalogue==2.0.4
certifi==2021.5.30
chardet==4.0.0
click==7.1.2
contextvars==2.4
coverage==5.5
cupy-cuda102==8.6.0
cycler==0.10.0
cymem==2.0.5
Cython==0.29.23
cytoolz==0.9.0.1
dataclasses==0.8
decorator==4.4.2
descartes==1.1.0
dill==0.2.9
editdistance==0.5.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz
fastrlock==0.6
filelock==3.0.12
gensim==3.8.3
graphviz==0.16
huggingface-hub==0.0.8
idna==2.10
immutables==0.15
importlib-metadata==4.4.0
ipython==7.16.1
ipython-genutils==0.2.0
isodate==0.6.0
jedi==0.18.0
jellyfish==0.8.2
jieba==0.42.1
Jinja2==3.0.1
joblib==1.0.1
keybert==0.2.0
kiwisolver==1.3.1
MarkupSafe==2.0.1
matplotlib==3.3.4
mizani==0.7.3
mrakun==0.44
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.5
networkx==2.5.1
nltk==3.6.2
numpy==1.19.5
packaging==20.9
palettable==3.3.0
pandas==1.1.5
parso==0.8.2
pathy==0.5.2
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
plac==0.9.6
plotnine==0.8.0
preshed==2.0.1
prompt-toolkit==3.0.18
ptyprocess==0.7.0
py3plex==0.94
pydantic==1.7.4
Pygments==2.9.0
PyMySQL==1.0.2
pyparsing==2.4.7
pytextrank==2.1.0
python-dateutil==2.8.1
pytorch-crf==0.7.0
pytorch-nlp==0.5.0
pytz==2021.1
rake-nltk==1.0.4
rdflib==5.0.0
regex==2018.1.10
requests==2.25.1
revtok==0.0.3
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.5.4
seaborn==0.11.1
segtok==1.5.10
sentence-transformers==1.2.0
sentencepiece==0.1.95
six==1.16.0
smart-open==3.0.0
spacy==2.0.18
spacy-legacy==3.0.5
srsly==1.0.5
statsmodels==0.12.2
tabulate==0.8.9
thinc==6.12.1
threadpoolctl==2.1.0
tokenizers==0.10.3
toolz==0.11.1
torch==1.8.1
torchnlp==0.0.0.1
torchtext==0.4.0
torchvision==0.9.1
tqdm==4.61.0
traitlets==4.3.3
transformers==4.6.1
typer==0.3.2
typing-extensions==3.10.0.0
ujson==4.0.2
urllib3==1.26.5
wasabi==0.8.2
wcwidth==0.2.5
wrapt==1.10.11
yake==0.4.6
zipp==3.4.1
